good.

*** => next part is to make all by api so api will get all data in json and also real_time changes by api.

unclear => room=X,data={source1=x... so on => next comment => they call me by API e.g 
                                                                    (room=cryptedxxx

p1 => bitrate, of each name of each => next comment => teacher bitrate is always high. bitrate FROM students will be low as defaul but if 
                                                 we want them on source 1 need to be high.

p2 => each position need to have {position 1, source X , bitrate high/low, mute 1/0, name x} => each student object have I wll manage it
                                                                                                inside my library.
                                                                                                    {
                                                                                                        position: rollno(unclear),
                                                                                                        sourceX: unclear,
                                                                                                        currentBitrate (high or low (180 or 720)),
                                                                                                        mute: true/false, (default mute),
                                                                                                        name: "maq"

                                                                                                    }
p3 => teacher sources => teacher have 3 sources. camera, screen and html(as iframe).


dev.getmycall.com
Hj8G9gVgEV9MRq root

teacher:-  //currently passing room data and sources through url
http://localhost:8080/?room=crypted2&id=012&name=MaqsoodT&type=teacher&position=0&token=123fjbdf&bitrate=720&mute=false&sources=[{"id":"012", "position": "0", "type":"teacher"},{"id":"123", "position": "1"},{"id":"234", "position": "2"},{"id":"456", "position": "3"},{"id":"678", "position": "4"}, {"id":"8910", "position": "5"},{"id":"101112", "position": "6"},{"id":"121314", "position": "7"},{"id":"141516", "position": "8"},{"id":"161718", "position": "9"}]

student1:-
http://localhost:8080/?room=crypted2&id=123&name=MaqsoodSt1&type=student&position=1&token=123fjbdf&bitrate=180&mute=true&sources=[{"id":"012", "position": "0", "type":"teacher"},{"id":"123", "position": "1"},{"id":"234", "position": "2"},{"id":"456", "position": "3"},{"id":"678", "position": "4"}, {"id":"8910", "position": "5"},{"id":"101112", "position": "6"},{"id":"121314", "position": "7"},{"id":"141516", "position": "8"},{"id":"161718", "position": "9"}]

student3:-
http://localhost:8080/?room=crypted2&id=456&name=MaqsoodSt3&type=student&position=3&token=123fjbdf&bitrate=180&mute=true&sources=[{"id":"012", "position": "0", "type":"teacher"},{"id":"123", "position": "1"},{"id":"234", "position": "2"},{"id":"456", "position": "3"},{"id":"678", "position": "4"}, {"id":"8910", "position": "5"},{"id":"101112", "position": "6"},{"id":"121314", "position": "7"},{"id":"141516", "position": "8"},{"id":"161718", "position": "9"}]



{"id":"8910", "position": "5"},{"id":"101112", "position": "6"},{"id":"121314", "position": "7"},{"id":"141516", "position": "8"},{"id":"161718", "position": "9"}

[
    {
        id: '012',
        position: '0',
        name: "Maqsood",
        type: "teacher",
        tracks: [],
        bitrate: '1080',
        isMute: false
    },
    {
        id: '123',
        position: '1',
        name: "maq1",
        type: "student",
        tracks: [],
        bitrate: '180',
        isMute: true
    },
    {
        id: '234',
        position: '2',
        name: "maq2",
        type: "student",
        tracks: [],
        bitrate: '180',
        isMute: true
    },
    {
        id: '345',
        position: '3',
        name: "maq3",
        type: "student",
        tracks: [],
        bitrate: '180',
        isMute: true
    }
]


teacher 11 => https://api.getmycall.com/index.html?api=login&type=teacher&id=11&class_id=1
student 91 => https://api.getmycall.com/index.html?api=login&type=student&id=91&class_id=1&teacher_id=11



** to access our jitsi server from different domain we need to add
goto => cd /etc/nginx/sites-available/dev.getmycall.com.conf
then add inside => location /http-bind

add_header 'Access-Control-Allow-Headers' 'Authorization,Content-Type,Accept,Origin,User-Agent,DNT,Cache-Control,X-Mx-ReqToken,Keep-Alive,X-Requested-With,If-Modified-Since';
add_header Access-Control-Allow-Origin *; 

ref => https://community.jitsi.org/t/development-setup-cross-domain/14093/6





Milestone3=> bugs

Hi Maqsood.
Bug list that we need to figure before we can go on:

Important parts is the back to positions.
1=>After student back to his place from center he is suddenly unmuted. and also others.

2=> back from work mode not works for students.

3=> working time need to be only if working mode on.

Rest we can do later but bugs with mute\unmute move between states must work well. Tell me when we will check them together.


Bugs:-
Ok Eli let me first do three things
1=> work mode only when work time (resolved)
2=> mute audio not video of student when work mode (*** when switch off working mode audio will be previous state of student) (resolved)
3=> testing why Student not get video

great. 1 point important: when student is muted he will stay muted even if mode changed.
Only way to unmute is by active unmute by teacher or by moving him to middle.



Bugs and Changes:-
1. replacing between share to vid to work - need to be with fixed places.
2. !important. user must not hear him self. teacher + student. now he hear him self too. its dupliacte channel i think.
3. share button to put down.
4. click on lall div of share to move to midlle \ back

bug - on working mode if teacher press on share - all get screen purple and stuck on student side.

5. if teacher put student on middle - and that refresh - both are stuck on middle.
6. bug in middle - go down. stuck now some times.

if teacher back to middle he is muted - no way to back

. if one moved middle - need someway to know.

maybe other color

teacher missing