html, body {
    height: 100%;
    background-color: #4b3684;
    scroll-behavior: smooth;
    font-family: F37 Giner, sans-serif;
  }

#conference-container {
    height: 100%;
}

#classroom-header {
    height: 8vh;
    background-color: #fefefe;
    margin: 0 !important;
}

.back-button-container {
    margin: 0 1rem 0 1rem;
    position: relative;
}
.back-button-container>button {
    width: 7rem;
    height: 2rem;
    background: #9772E8;
}
.back-button-container>button>div{
    line-height: 1.1rem;
}
.time-box-info {
    border: 0.1rem #9772E8 solid;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 20px;
    color: #9772E8;
    font-size: 20px;
    font-weight: 600;
    width: 10rem;
    height: 2rem;
}
.class-room-header-info {
    font-size: 22px;
    margin-left: -2rem;
}

.ant-modal-confirm-btns .ant-btn-primary {
    background-color: #9772E8 !important;
    width: 6rem !important;
    height: 3rem !important;
    margin-top: 0rem !important;
}
.ant-modal-confirm-btns .ant-btn-primary:hover {
    background-color: rgb(99, 67, 174) !important;
}

.classroom-header-inner {
    height: 100%;
}

.chat-button-container {
    margin-right: 2rem;
    position: relative;
}


.btn-chat-icon {
    margin-left: 0.5rem; 
    font-size: 17px
}
.btn-back-icon {
    margin-right: 0.5rem; 
    font-size: 20px
}

.chat-messages-count {
    position: absolute;
    top: 1rem;
    left: -1rem;
}

.chat-messages-count-text {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.1em 0.6em;
    background-color: #b399e9;
    font-size: 13px;
}
.inputPopover .ant-popover-title{
    padding: 0rem !important;
}
.inputPopover .ant-popover-inner {
    border-radius: 1rem 1rem 0rem 0rem !important;
}
.send-private-message-box-title {
    border-bottom: none;
    background-color: #9670e3;
    border-radius: 1rem 1rem 0rem 0rem;
    height: 2.5rem;
    /* padding-top: .2rem; */
    color: white;
}
.private-chat-messages-count-text {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px rgb(250, 190, 17);
    padding: 0.1em 0.6em;
    background-color: rgb(250, 190, 17);
    font-size: 13px;
}

.btn-primary {
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
    line-height: 14px;
    border-radius: 40px;
    background: #9772E8;
    font-weight: 600;
}
.ant-btn {
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
    line-height: 0;
    border-radius: 40px;
    background: #9772E8;
    font-weight: 600;
}
.ant-btn-primary {
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
    line-height: 0;
    border-radius: 40px;
    background: #9772E8;
    font-weight: 600;
}

.all-sources-container {
    padding-top: 1.5rem;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
    width: 100%;
}

#large-video-container {
    position: relative;
    width: 100%;
    padding: 0rem 1.15rem 0rem 0rem;
}
#large-video-container-full-screen-mode {
    position: relative;
    width: 100%;
    padding: 0rem 0em 0rem 0rem;
}
#teacher-container {
    background: #4b3684;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-bottom: 2rem !important;
    padding-bottom: 0.5rem;
    padding-left: 2.3rem;
    padding-right: 1.3rem;
}

.teacher-actions-button-container-normal-mode {
    position: absolute;
    bottom: 0.1rem;
}
.teacher-actions-button-container-view-mode {
    position: absolute;
    top: 90%;
}
.teacher-student-actions-right {
    margin: .2rem .3rem 0.2rem 0rem;
    width: 20px;
    position: absolute;
    top: 0rem;
    right: 2rem;
    font-size: 1.2rem;
}
.teacher-student-action-right-icon-div {
    background-color: white;
    width: 2rem;
    height: 2rem;
    margin-bottom: .2rem;
    color: #fdf6fd;
    border-radius: 50%;
    cursor: pointer;
}

#main-video-actions-box-left {
    display: flex;
    flex: 1 1 0;
    margin-left: 1.7rem;
    padding-top: 0.5rem;
    align-items: center;
}

#main-video-actions-box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-video-actions-box-center-content {
    z-index: 1;
    border-radius: 10px;
    height: 50px;
    line-height: 50%;
    align-items: center;
    justify-content: center;
    background: #4b3684;
    color: white;
}
.controls-icon-div {
    width: 2.5rem;
}
.controls-icon-div .control-icon>i {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.controls-icon-div .control-icon>i.fas{
    width: 2.5rem;
    /* height: 40px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.screen-share-icon{
    position: relative;
}
.screen-share-stop-icon{
    position: absolute;
    color: rgb(235, 77, 32);
    margin-top: -1rem;
    margin-left: 0.7rem;
    font-size: 15px;
}

.small-video-modes-actions-box-right {
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end;
    right: 0.5rem;
    bottom: 0.5rem;
    position: absolute;
}

.main-video-modes-actions-box-right {
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end;
    align-items: center;
}
.main-video-actions-box-right-content {
    z-index: 1;
    border-radius: 10px;
    width: 5.5rem;
    height: 40px;
    line-height: 50%;
    align-items: center;
    justify-content: center;
    background: #4b3684;
    margin-right: 1.7rem;
    color: #ffffff;
}
#rectangle-button {
    width: 1.8rem;
    height: 1.2rem;
    border: 3px solid #ffffff;
}

#rectangle-button:hover{
    width: 2rem;
    height: 1.4rem;
}
#full-screen-icon{
    cursor: pointer;
    font-size: 1.45rem;
    flex: 1 1 0;
}
#full-screen-icon:hover{
    font-size: 1.6rem;
}
.studentsSelectDiv{
    margin-top: 0.5rem;
}
.studentsToggleDiv {
    cursor: pointer;
    font-size: 24px;
    margin-right: 1rem;
    color: #6243ad;
    margin-left: 1rem;
    position: absolute;
    top: 10px;
    right: 0;
}
.ant-select-arrow {
    top: 1rem !important;
}
.student-action-buttons{
    display: flex;
    flex-direction: row;
}

.student-video-actions-top {
    top: .1rem;
    position: absolute;
    z-index: 1;
    margin-left: 0;
    justify-content: flex-start;
    font-size: 15px;
}
.student-video-actions-top-icon {
    margin-left: 4px;
}
.student-video-actions-top-icon>i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #ffffff;
    padding: 0.37em 0.47em;
}
.messages-number-circle {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    padding: 7px;
    background: rgb(250, 190, 17);
    color: #666;
    text-align: center;
    font: 12px Arial, sans-serif;
    margin-left: 1px;
}

.btn-swap-video {
    width: 20px; 
    height: 20px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 3%;
    right: 3%
}
.btn-start-screen {
    width: 35px; 
    height: 35px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 44%;
    right: 47%
}

.btn-mute-unmute {
    width: 20px; 
    height: 20px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 3%;
    right: 3%
}

.change-bitrate-button {
    width: 80px;
    right: 1rem;
    position: absolute !important;
    top: 1rem;
    z-index: 1;
}

.small-videos {
    margin-left: -15px;
    margin-top: 19px;
}

.cart-number {
    width: 200px;
}

.userName {
    color: #080000;
}

.global-action-button-icon {
    margin-left: 0.3rem;
}
.global-actions-button-container {
    margin-top: .4rem;
    margin-right: 1.5rem;
}

.teacher-actions-button {
    border: 1px solid white;
    font-size: 18px;
    color: white;
    pointer-events: auto;
    cursor: pointer;
    opacity: 1;
    width: 6rem !important;
    height: 2rem;
    font-size: 11px;
    font-weight: 700;
}

#small-videos-box-outer {
    padding-bottom: 2rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    background-color: #9772E8;
    border-radius: 0 20px 0px 0px;
    position: relative;
}
#small-videos-box-inner {
    height: 9rem;
    overflow-y: auto;
}
#end-of-students-box-div, #start-of-students-box-div {
    width: 10%;
    height: 0px;
    background-color: #9772E8;
    margin-bottom: 10px;
}

.student-small-video {
    position: relative;
    padding: 0rem 0rem 1rem 1rem;
}

.student-video-tag {
    border-radius: 10px;
    width: 100%;
}

.student-name {
    position: relative;
    padding: 0.1px;
    background: #4b3684;
    border-radius: 10px;
    margin-top: 0.4rem;
}

.student-video-actions-right {
    margin: .2rem .3rem 0.2rem 0rem;
    width: 20px;
    position: absolute;
    top: .2rem;
    right: 0rem;
    font-size: 12px;
}

.student-action-right-icon-div {
    background-color: white;
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: .2rem;
    color: #fdf6fd;
    border-radius: 50%;
    cursor: pointer;
}

.student-action-right-icon {
    margin-top: 20%;
}

.note-save-button {
    margin-top: 0.5rem;
}
.note-save-button>button {
    background-color: rgb(99, 67, 174);
}
.note-close-button {
    margin-top: 0.5rem;
}
.note-close-button>button{
    background-color: rgb(235, 77, 32);
}
.input-note-buttons {
    color: white;
}

.student-name-text {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 2px 0px 2px 0px;
    color: #ffffff;
}

.student-small-video>div>video[poster]{
    object-fit: fill;
}

.teacher-screen-share-video>video[poster]{
    object-fit: fill;
}
.teaher-video-div{
    position: relative;
}
#teacher-video-tag {
    width: 100%;
    object-fit: fill;
    height: 100%;
    background-color: #fbf4fd;
    border-radius: 20px
}

.teacher-screen-share-div-normal-mode {
    background-color: #fbf4fd;
    width: 100%;
    position: relative;
    border-radius: 20px;
}
.teacher-screen-share-div-screen-mode {
    background-color: #fbf4fd;
    width: 100%;
    position: relative;
    border-radius: 32px;
    height: 400px;
}
#teacher-screen-share-video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: fill;
}

audio {
    display: none;
}

.teacher-dashboard-normal-mode {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 1.15rem;
    padding: 0rem 0rem 0rem 1.15rem;
}
.teacher-dashboard-screen-mode {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 1.15rem;
    padding: 1.5rem 0rem 0rem 0rem;
}
.teacher-board-div-normal-mode {
    background-color: #fbf4fd;
    border-radius: 20px; 
    width: 100%;
    height: 100%;
}
.teacher-board-div-screen-mode {
    background-color: #fbf4fd;
    border-radius: 32px; 
    width: 100%;
    position: relative; 
}
.teacher-board-iframe {
    border-radius: 20px;
}
.teacher-board-iframe-working-mode{
    border-radius: 0px;
}
.change-teacher-view-arrow {
    font-weight: 700;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    top: 76%;
    left: -2%; /* because of scrollbar */
    color: #6243ad;
}
.change-teacher-view-arrow>button>i{
    font-size: 20px;
    margin-left: -4px;
}
.change-board-view {
    width: 100%;
    position: absolute;
    top: 0.2rem;
}
.change-board-button {
    width: 130px;
    color: white !important;
}
.change-board-button>div {
    background-color: #9670e3 !important;
    border: none;
}
.change-board-arrows {
    font-size: 15px;
    font-weight: 700;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    top: 40%;
    left: -2%; /* because of scrollbar */
    color: white;
}
.change-board-left {
    cursor: pointer;
}
.change-board-left>i.fas{
    display: inline-block;
    border-radius: 60px;
    background-color: #9772E8;
    box-shadow: 0px 0px 2px #9772E8;
    padding: 0.5em 0.6em;
}
.change-board-right {
    cursor: pointer;
}
.change-board-right>i.fas{
    display: inline-block;
    border-radius: 60px;
    background-color: #9772E8;
    box-shadow: 0px 0px 2px #6243ad;
    padding: 0.5em 0.6em;
}

.btn-primary:hover, .ant-btn-primary:hover, .ant-btn:hover {
    background-color: #6343AE;
}
.btn-primary:active, .btn-primary:focus {
    outline:none !important;
    box-shadow: none !important;
}
.btn-primary:active {
    background-color: rgb(121, 119, 128) !important;
    border-color: #6343AE !important;
}

.chat-box-container {
    background-color: white;
    position: absolute;
    top: 10.5vh;
    right: 0;
    bottom: 1rem;
    border-radius: 1rem 0rem 0rem 0rem;
}
.main-chat-box {
    height: 100%;
}
.chat-box-title {
    border-bottom: none;
    background-color: #9670e3;
    border-radius: 1rem 0rem 0rem 0rem;
    height: 2.5rem;
    padding-top: .2rem;
    color: white;
}
.chat-box-close-icon {
    padding-top: .5rem;
    padding-left: .7rem;
}
.chat-box-close-icon>i {
    cursor: pointer;
}

.chat-box-icon {
    font-size: 24px;
    margin-left: 0.5rem;
    color: white;
}
.ant-switch-checked {
    background-color: #fd7c75;
}
.chat-header-text {
    font-size: 18px;
    font-weight: 600;
}
.ant-popover-inner-content{
    height: 100% !important;
    background-color: white;
}

.chat-box-body {
    height: 100%;
}
.chat-box-messages {
    overflow: auto;
    padding: 0.5rem;
}
.chat-message {
    width: 98%;
    margin-top: 0.4rem;
}
.chat-message-content {
    background-color: #f6edb0;
    width: 97%;
    min-height: 4rem;
    border-radius: 0rem 1.3rem 0rem 1.3rem;
    padding: 1.3rem;
}

.chat-participant-name {
    font-weight: 600;
    font-size: 12px;
    color: black;
}
.chat-message-text {
    font-size: 13px;
}
.chat-message-time {
    padding: 0rem 0rem 0rem 1.3rem;
    font-size: 13px;
    font-weight: 600;
}
.chat-send-message {
    height: 22%;
}
.chat-input>textarea {
    height: 4rem !important;
    resize: none;
    width: 98%;
    margin-left: 1%;
}
.chat-send-button {
    padding-top: 0.4rem;
}
.chat-send-button>button {
    background-color: #11ca81;
    width: 5rem;
}

.notification-user-name {
    font-weight: 500;
    color: #6343AE;
}

.ant-notification-notice, .ant-notification-notice-closable {
    border-radius: 0.7rem;
    opacity: 0.9;
}
.ant-notification-notice-message {
    display: none;
}
.ant-notification-notice-close {
    display: none;
}

.inputPopover {
    width: 22rem;
}

.inputPopover .ant-popover-content .ant-popover-inner {
    height: 100% !important;
}

.teacher-board-div-working-mode {
    background-color: #fbf4fd;
    width: 100vw !important;
    height: 100vh !important;
}
.teacher-video-div-working-mode{
    width: 14rem;
    height: 10rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}
.teacher-video-div-working-mode>video{
    object-fit: fill;
}
.teacher-student-actions-right-working-mode {
    margin: .2rem .3rem 0.2rem 0rem;
    width: 20px;
    position: absolute;
    top: 0rem;
    left: .2rem;
    font-size: 1.2rem;
}

.board-source-container {
    position: relative;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
}
  
#teacher-video-div-working-mode {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
.input-popover-working-mode .ant-popover-arrow {
    display: none;
}

.students-loading-icon {
    width: 100%;
    display: flex;
    justify-content: center;
}
.students-loading-icon>img{
    width: 2rem;
    height: 2rem;
}

.upload-progress-box {
    position: absolute;
    top: 55px;
    right: 5px;
    background-color: rgba(255,255,255, 0.9) !important;
    width: 350px;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 0px 10px;
}

.Toastify__toast.Toastify__toast--info {
    border-radius: 0.7rem !important;
    background-color: #9670e3 !important;
}

.ant-tooltip-inner {
    color: white;
}

/* scroll bar design */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* In portrail mode hide app container */
#mobile-device-warning-message { display: none; }
@media only screen and (orientation:portrait){
    #mobile-mode-container  { display:none; }
    #mobile-device-warning-message { display:block; }
}
@media only screen and (orientation:landscape){
    #mobile-mode-container {
        position: relative;
        height: 100%;
    }
    #mobile-device-warning-message { display:none; }
}

/* Small devices (tablets or mobiles) */
@media only screen and (max-width: 1280px) {
    body{
        overflow: hidden;
    }
    .teaher-video-div {
        width: 90vw !important;
        height: 100vh !important;
    }
    .main-video-actions-box-center-content {
        border-radius: 0;
        width: 100%;
        background: none;
    }
    #teacher-video-tag{
        border-radius: 0;
        height: 100vh;
    }
    .teacher-video-tag-working-mode-mobile{
        border-radius: 10px !important;
        border: 3px solid white !important;
        width: 100%;
        height: 100% !important;
    }
    .student-mobile-controls{
        width: 100vw;
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        background-color: #4b3684;
        opacity: .8;
        /* height: 16%; */
        height: 3.5rem;
        font-size: 25px;
        color: white;
    }
    .student-mobile-controls>div{
        width: 33.33%;
    }
    .student-mobile-controls-left{
        display: flex;
        flex-direction: row;
        padding-left: 1.5rem;
        align-items: center;
    }

    .student-mobile-controls-hand-raised-icon>i.fa {
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0px 0px 2px white;
        padding: 0.25em 0.4em;
    }

    /* .main-video-actions-box-center-content>div{
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0px 0px 2px white;
        padding: 0.4em 0.4em;
    } */
    /* .mic-image-icon{
        width: 25px !important;
        height: 25px !important; 
    } */
    /* .video-image-icon{
        width: 25px !important;
        height: 25px !important;
    } */
    .teacher-video-div-working-mode-mobile  {
        position: absolute;
        width: 180px;
        height: 130px;
        top: 4%;
        right: 4%;
    }

    .mobile-small-video-box {
        position: absolute;
        width: 180px;
        height: 130px;
        top: 4%;
        right: 4%;
    }
    .student-video-tag{
        width: 180px;
        height: 130px;
        position: fixed;
        object-fit: fill;
        border-radius: 10px;
        border: 3px solid white;
    }
    #teacher-screen-share-video, .teacher-board-iframe{
        border-radius: 10px;
    }
    .teacher-board-iframe-working-mode{
        border-radius: 0px;
    }

    .hide-small-box-icon{
        position: absolute;
        font-size: 20px;
        top: -0.7rem;
    }

    .hide-small-box-icon>i.fa {
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0px 0px 2px white;
        padding: 0.45em 0.4em;
        background: white;
    }

    .controls-icon-div {
        width: 3.5rem;
    }

    .controls-icon-div .control-icon>i {
        font-size: 22px;
    }

    .controls-icon-div .control-icon>i.fas{
        opacity: 1;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        line-height: 40px;
        box-shadow: 0px 0px 2px rgba(255,255,255,0.5);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
    /* dynamic height change from React */
    .teacher-div-large {
        height: 61vh;
    }
    .teacher-div-small {
        height: 28vh;
    }
    .teacher-div-large-with-chat{
        height: 58vh;
    }
    .teacher-div-small-with-chat{
        height: 27vh;
    }
    .teacher-screen-share-div-screen-mode{
        height: 50vh;
    }.teacher-board-div-screen-mode{
        height: 50vh;
    }.video-div-screen-mode{
        height: 50vh;
    }
    .teacher-div-large-full-screen-mode {
        height: 89vh;
    }
    .teacher-div-large-with-chat-mode{
        height: 89vh;
    }

    .student-video-tag {
        height: 11vh;
    }
    #small-videos-box-outer {
        height: 27vh !important;
    }
    #small-videos-box-inner {
        height: 23vh;
    }
    .student-action-right-icon-div{
        width: 1.1rem;
        height: 1.1rem;
    }
    .student-small-video {
        width: 10%;
    }
}

