html, body {
    height: 100%;
    background-color: #9772E8;
    scroll-behavior: smooth;
  }

#conference-container {
    height: 100%;
}

/* #form-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: -5%;
}
#user-form {
    margin-top: 5%;
    width: 30%;
}

.help-block {
    color: red;
} */

.classroom-header {
    height: 57px;
    background-color: #fefefe;
    margin: 0 !important;
}
.time-box-container {
    padding-top: 0.5rem;
}
.time-box-info {
    border: 0.1rem #9772E8 solid;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 20px;
    color: #9772E8;
    margin-left: 2.5rem;
    font-size: 20px;
    font-weight: 600;
}
.class-room-header-info {
    font-size: 22px;
    margin-left: -2rem;
}
.chat-button-container {
    margin-right: 2rem;
    position: relative;
    padding-top: 0.5rem;
}

.btn-chat-icon {
    margin-left: 0.5rem; 
    font-size: 17px
}

.chat-messages-count {
    position: absolute;
    top: 1rem;
    left: -1rem;
}
.chat-messages-count-text {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.1em 0.6em;
    background-color: #b399e9;
    font-size: 13px;
}

.btn-primary {
    /* font-family: Raleway-SemiBold; */
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
    line-height: 15px;
    /* border: 2px solid rgba(58, 133, 191, 0.75); */
    border-radius: 40px;
    background: #9772E8;
    /* transition: all 0.3s ease 0s; */
    width: 11rem;
    height: 2rem;
    font-weight: 600;
  }

#large-video-container {
    position: relative;
    width: 100%;
    padding: 0rem 1.15rem 0rem 0rem;
}
#teacher-container {
    /* padding-bottom: 0px !important; */
    background: #4b3684;
    margin-left: 0px !important;
    margin-right: 0px !important;
    /* padding-left: 2rem !important; */
    /* height: 530px !important; */
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
}

#local-video-actions-box {
    left: 48%;
    top: 88%;
    /* margin: -64px 0 0 -64px; */
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    line-height: 50%;
    align-items: center;
    justify-content: center;
    background: #9873e863;
}

.student-video-actions-top {
    /* top: -12%; */
    top: 0;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    margin-left: 2px;
    /* width: 130px;
    height: 0px; */
    /* line-height: 50%; */
    /* align-items: center; */
    justify-content: flex-start;
    font-size: 20px;
}
.student-video-actions-top-icon {
    margin-left: 4px;
}
.student-video-actions-top-icon>i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.2em 0.3em;
    background-color: #d0f543;
}
.student-video-actions-top-icon>span.no-of-messages {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.1em 0.6em;
    background-color: #e9dc3d;
    font-size: 16px;
}

.btn-swap-video {
    width: 20px; 
    height: 20px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 3%;
    right: 3%
}
.btn-start-screen {
    width: 35px; 
    height: 35px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 44%;
    right: 47%
}

.btn-mute-unmute {
    width: 20px; 
    height: 20px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 3%;
    right: 3%
}

.ant-select {
    width: 80px;
    right: 1%;
    position: absolute !important;
    top: 4%;
    z-index: 1;
}

.small-videos {
    margin-left: -15px;
    margin-top: 19px;
}

.cart-number {
    width: 200px;
}

.userName {
    /* color: blue($color: #080000); */
    color: #080000;
}

#small-videos-box {
    /* padding-top: 8px !important; */
    /* margin-left: auto; */
    /* //11.2%; */
    /* margin-right: auto;
    padding-right: 15px;
    padding-left: 0px; */
}

.student-small-video {
    margin-left: 3px;
    margin-top: 5px;
    position: relative;
    padding: 0rem 1rem 1rem 0.5rem;
        /* height: 85; */
}
.student-video-tag {
    border-radius: 10px;
}

.student-name {
    position: relative;
    padding: 0.1px;
    background: #4b3684;
    border-radius: 10px;
    /* border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px; */
    /* margin-top: -6%; */
}

.student-name-text {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    margin: 2px 0px 2px 0px;
    color: #ffffff;
}

.student-small-video>div>video[poster]{
    height: 80px;
    object-fit: cover;
}

.teacher-screen-share-video>video[poster]{
    /* height: 85px; */
    object-fit: cover;
}
.teaher-video-div{
    position: relative;
}
#teacher-video-tag {
    width: 100%;
    object-fit: cover;
    height: 100%;
    background-color: #fbf4fd;
    border-radius: 20px
}

.teacher-screen-share-div {
    background-color: #fbf4fd;
    width: 100%;
    position: relative;
    border-radius: 20px;
}
#teacher-screen-share-video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

audio {
    display: none;
}

#teacher-dashboard {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 1.15rem;
    padding: 0rem 0rem 0rem 1.15rem;
}
.teacher-board-div {
    background-color: #fbf4fd;
    border-radius: 20px; 
    width: 100%;
    position: relative; 
}
#teacher-board-iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* chat box */
.ant-popover {
    top: 2.5rem !important;
    height: 96vh !important;
}
.ant-popover-inner {
    /* height: 34rem !important; */
    height: 88vh !important;
    border-radius: 1.3rem 0rem 0rem 1.3rem !important;
}
.ant-popover-content {
    width: 24rem;
}
.ant-popover-title {
    border-bottom: none;
    background-color: #9670e3;
    border-radius: 1rem 0rem 0rem 0rem;
}
.ant-popover-arrow {
    /* left: 55% !important; */
    display: none;
}
.btn-primary:hover {
    background-color: #6343AE;
}
.btn-primary:active, .btn-primary:focus {
    outline:none !important;
    box-shadow: none !important;
}
.btn-primary:active {
    background-color: #6343AE !important;
    border-color: #6343AE !important;
}
.chat-box-icon {
    width: 30px;
    height: 30px;
    /* margin-right: .2rem; */
    font-size: 17px;
    margin-left: 0.5rem;
    color: white;
}
.chat-header-text {
    font-size: 18px;
    font-weight: 600;
}
.ant-popover-inner-content{
    height: 100% !important;
    background-color: white;
}
.chat-box-body {
    /* height: 93%; */
    height: 100%;
}
.chat-box-messages {
    /* height: 78%; */
    height: 83%;
    overflow: auto;
}
.chat-message {
    width: 92%;
    margin-top: 0.1rem;
}
.chat-message-content {
    background-color: #f6edb0;
    width: 97%;
    min-height: 5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 0rem;
    padding: 1.3rem;
}
.chat-participant-name {
    font-weight: 600;
}
.chat-message-time {
    padding: 0rem 0rem 0rem 1.3rem;
    font-size: 13px;
    font-weight: 600;
}
.chat-send-message {
    /* height: 22%; */
    height: 17%;
}
.chat-input>textarea {
    height: 4rem !important;
    resize: none;
}
.chat-send-button {
    padding-top: 0.4rem;
}
.chat-send-button>button {
    background-color: #11ca81;
    width: 5rem;
}

.notification-user-name {
    font-weight: 500;
    color: #6343AE;
}

.ant-notification-notice, .ant-notification-notice-closable {
    border-radius: 0.7rem;
    opacity: 0.9;
}
.ant-notification-notice-message {
    display: none;
}
.ant-notification-notice-close {
    display: none;
}

/* scroll bar design */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* @media only screen and (max-width: 780px) {
    #teacher-dashboard {
        display: none;
    }
} */

@media only screen and (max-width: 1160px) {
    #local-video-actions-box {
        margin: -24px 0 0 -64px;
    }
    /* .teacher-video {
        height: 480px;
    }
    .teacher-video-small-div {
        max-height: 180px;
    } */
}

@media only screen and (max-width: 810px) {
    .time-box-info {
        border: 0.09rem #9772E8 solid;
        padding: 0rem 1rem 0rem 1rem;
        border-radius: 20px;
        color: #9772E8;
        margin-left: 0rem;
        font-size: 16px;
        font-weight: 600;
        margin-left: 0.5rem;
    }
    .chat-button-container {
        margin-right: 1rem;
    }
    .chat-button{
        width: 2rem;
        margin-right: 2rem;
        position: relative;
    }

    .btn-chat-icon {
        margin-left: 0rem; 
        font-size: 17px
    }
    .btn-chat-inner-text {
        display: none !important;
    }
    /* .chat-button-container>button>span {
        display: none;
    } */
}
@media only screen and (max-width: 610px) {
    .class-room-header-info {
        font-size: 16px;
        margin-left: 0rem;
    }
    .classroom-header {
        height: 44px;
    }

    .class-room-header-content {
        display: flex;
        flex-direction: column;
    }
    .class-room-header-content-placeholder {
        display: none;
    }
    #class-header-teacher-name {
        margin-top: -7px;
    }
    .ant-popover-content {
        width: 20rem;
        /* padding: 0.5rem 1.3rem 0.5rem 1.3rem; */
    }
    .ant-popover-placement-bottom {
        background-color: white;
    }
    .ant-popover {
        border-radius: 1.3rem 0rem 0rem 1.3rem;
        padding-top: 0px;
    }
}

/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 575px) {
    /* dynamic height change from React */
    .teacher-div-large {
        height: 300px;
    }
    .teacher-div-small {
        height: 175px;
    }
    #large-video-container {
        padding: 0rem 0rem 0rem 0rem;
    }
    #teacher-dashboard {
        flex-direction: row;
        margin-top: 1rem;
        padding-left: 0rem;
    }
    .teacher-board-div {
        margin-right: 0.5rem;
    }
    .teacher-screen-share-div {
        margin-left: 0.5rem;
    }
}

@media only screen and (min-width: 576px) {
    /* dynamic height change from React */
    .teacher-div-large {
        height: 400px;
    }
    .teacher-div-small {
        height: 175px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* dynamic height change from React */
    .teacher-div-large {
        height: 450px;
    }
    .teacher-div-small {
        height: 205px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* dynamic height change from React */
    .teacher-div-large {
        height: 500px;
    }
    .teacher-div-small {
        height: 230px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* dynamic height change from React */
    .teacher-div-large {
        height: 550px;
    }
    .teacher-div-small {
        height: 255px;
    }
}