* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body,
html,
form,
fieldset {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0
}

img {
    border: 0;
}

a {
    text-decoration: none;
    border: 0;
    outline: 0;
}

.clear {
    clear: both;
    width: auto !important
}

ul {
    list-style: none;
}

a:focus,
input:focus,
textarea:focus,
*:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

@font-face {
    font-family: GveretLevin;
    src: url(../fonts/Gveret-Levin-Alef-Alef-Alef.ttf);
}


/* =================reset css ends here================= */


/* =================core css starts here================= */

body {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Assistant', sans-serif;
    color: #333;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
input,
button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}

a img {
    border: 0px none;
}

a:hover {
    outline: none;
    color: #007aff;
    text-decoration: none;
}

a:active {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0px;
    text-decoration: none;
    color: inherit;
}

::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}

::-moz-placeholder {
    color: #999;
    opacity: 1;
}

:-moz-placeholder {
    color: #999;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #999;
    opacity: 1;
}

.os-animation {
    opacity: 0;
}

.os-animation.animated {
    opacity: 1;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0!important;
    padding: 0!important;
    margin-bottom: 15px;
    line-height: 1.2;
    font-weight: 700;
    color: inherit;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 22px;
    line-height: 1.4;
}

h5 {
    font-size: 18px;
    line-height: 1.4;
}

h6 {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
	color: #ffffff;
}

p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}

strong {
    font-weight: 600;
}

b {
    font-weight: 700;
}

p:last-child {
    margin-bottom: 0;
}

small {
    font-size: 50%;
}

.red {
    color: #fd504d;
}

.hr-foot {
    border-top: 1px solid #808080;
}

.mar-40 {
    margin-bottom: 40px !important;
}

.mar-30 {
    margin-bottom: 30px !important;
}

.mar-20 {
    margin-bottom: 20px !important;
}

.no-mar {
    margin: 0 !important;
}

.new-font {
    font-family: 'Anton', sans-serif;
}

.btn {
    border-radius: 30px;
    font-weight: 700;
    padding: 13px 25px;
    min-width: 220px;
    font-size: 15px;
    box-shadow: none;
    text-transform: uppercase;
}

.btn-default,
.btn-default:focus {
    color: #fff;
    background-color: #007aff;
    border: solid 1px #007aff;
}

.btn-default:hover,
.btn-default:active {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-primary,
.btn-primary:focus {
    color: #007aff;
    background-color: #fff;
    border: solid 1px #fff;
}

.btn-primary:hover,
.btn-primary:active {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-second,
.btn-second:focus {
    color: #fff;
    background-color: transparent;
    border: solid 1px #fff;
}

.btn-second:hover,
.btn-second:active {
    color: #007aff;
    background-color: #fff;
    border-color: #fff;
}

.btn.btn-lg {
    padding: 18px 40px !important;
}

.btn.btn-xs {
    padding: 8px 15px !important;
    min-width: auto;
}

.btn+.btn {
    margin-left: 10px;
}

.color-text {
    color: #007aff !important;
}

.form-control {
    border-radius: 0;
    min-height: 50px;
}

.set-bg {
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.content-container {
    /*padding: 0px 0 50px;*/
    margin-top: 25px !important;
}

.set-width {
    /*width: calc(100% + 30px);
    /margin-left: -15px;*/
}

.heading h2,
.heading1 h3 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* =================core css ends here================= */


/* ================= Header start ================= */

header {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 9999;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}

.fixed header {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
    background: #fff;
    color: #000;
}

.navbar-toggler {
    width: 60px;
    height: 60px;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    border: 0;
    background: transparent;
    margin: 0;
    position: relative;
    top: 0;
    right: 0;
}

.navbar-default .navbar-toggler:hover,
.navbar-default .navbar-toggler:focus {
    background: transparent;
}

.navbar-toggler:not([class="collapsed"]),
.navbar-toggler:not([class="collapsed"]):focus,
.navbar-toggler:not([class="collapsed"]):hover {
    background: #007aff;
}

.navbar-toggler.collapsed,
.navbar-toggler.collapsed:focus,
.navbar-toggler.collapsed:hover {
    background: #007aff;
}

.home .navbar-toggler.collapsed,
.home .navbar-toggler.collapsed:focus,
.home .navbar-toggler.collapsed:hover {
    background: transparent;
}

.navbar-toggler .icon-bar {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 3px;
    color: #243238;
    text-indent: -55px;
    margin-top: 0;
    background: transparent!important;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    vertical-align: middle;
}

.navbar-toggler .icon-bar:before,
.navbar-toggler .icon-bar:after {
    content: '';
    width: 23px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
}

.navbar-toggler.collapsed .icon-bar {
    background: #fff!important;
}

.navbar-toggler.collapsed .icon-bar:before,
.navbar-toggler.collapsed .icon-bar:after {
    background: #fff;
}

.navbar-toggler.collapsed .icon-bar:before {
    top: -7px;
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

.navbar-toggler .icon-bar:before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.navbar-toggler.collapsed .icon-bar:after {
    bottom: -7px;
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

.navbar-toggler .icon-bar:after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
    font-size: 14px;
    line-height: 18px;
    min-width: 18rem;
}

.dropdown-item {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    color: #000;
    font-weight: 600;
}

.dropdown-menu li:last-child .dropdown-item {
    border-bottom: none;
}

.dropdown-menu>li:hover>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>li:focus>a,
.dropdown-menu>li:active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus,
.nav-item.active>a,
.dropdown-item.active,
.dropdown-item:active {
    background: transparent;
    color: #007aff;
}
i.fa.fa-user {
    font-size: 40px;
    top: 20px;
    position: relative;
	color: #ffffff;
}
.circle_span {
    position: absolute;
    left: 115px;
    top: -15px;
    background: #eadc3d;
    border-radius: 88px;
    margin-top: 3px;
    height: 25px;
    width: 25px;
    z-index: 999;
}
@media only screen and (min-width: 1200px) {
    .navbar-nav>li>.dropdown-menu {
        display: block !important;
        top: 100% !important;
        margin-top: 10px !important;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
        transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -webkit-transition: all 0.1s ease-in;
    }
    .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 0px !important;
        transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
    }
}

.header-right {
    float: right;
    z-index: 20;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 40px;
    font-weight: 700;
}

.header-right a {
    padding: 0 20px;
    text-align: center;
    margin: 10px 0;
    margin-right: 0;
    background: #e5e5e5;
    border-radius: 20px;
    letter-spacing: .5px;
    min-width: 200px;
}

.header-search {
    float: left;
    position: relative;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-brand {
    width: 180px;
    position: relative;
    margin: 0;
}

.navbar-brand small {
    color: #fff;
    position: absolute;
    left: 100%;
    top: 50%;
    text-align: center;
    margin-top: -8px;
    font-size: 10px;
    line-height: 10px;
    padding: 5px 10px;
    opacity: 0.5;
}

.fixed .navbar-brand small {
    color: #000;
}

.logo-dark {
    display: none;
}

.fixed .logo-white {
    display: none;
}

.fixed .logo-dark {
    display: block;
}

.navbar-nav .nav-link,
.navbar-expand-xl .navbar-nav .nav-link {
    padding: 0 15px;
    line-height: 80px;
}

.navbar-nav li a:hover {
    color: #fd8484;
}


/* ================= Header end ================= */


/* ================= Header Upper Start ================= */

.header-upper {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
}

.logo {
    text-align: right;
}

.filter-form {
    background: #fff;
    padding: 5px 20px;
}

.filter-form .form-group {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;
}

.filter-form .form-control {
    border: 0;
    border-bottom: 1px solid #5dc098;
    text-align-last: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.filter-form select option {
    text-align: center;
}

.filter-form label {
    font-weight: bold;
}

.filter-form .form-group:before {
    content: '\f078';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 15px;
    color: #5dc098;
    position: absolute;
    left: 0;
}


/* ================= Header Upper end ===--============== */


/* ================= Slider Start ================= */

.hero-slider-inner {
    display: table;
    width: 100%;
    height: 85vh;
}

.hero-slider-bg.set-bg {
    background-position: 0 0 !important;
}

.hero-slider-content {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

.hero-content-left {
    position: absolute;
    z-index: 1;
    margin-top: -10%;
    width: 400px;
}

.hero-content-box {
    position: absolute;
    top: 10px;
}

.hero-content-box:before {
    content: "";
    /* background-image: url(../../include/images/chat-icon.png); */
    background-size: 139px 123px;
    background-repeat: no-repeat;
    position: absolute;
    right: -85px;
    padding: 105px 78px;
    top: -103px;
}


/*--Hero Banner Start--*/

.hero-banner {
    min-height: 500px;
    display: table;
    width: 100%;
    color: #fff;
}

.hero-banner-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}


/*----*/

.breadcrumb {
    background: transparent !important;
    justify-content: center;
}

.breadcrumb-item.active {
    color: #ff6d63;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}


/* ================= Slider End ================= */


/* ================= Product List Start ================= */

.product-details {
    text-align: center;
    background: #a6bc6c;
    border-radius: 9px;
    position: relative;
}

.product-block h1 {
    font-family: GveretLevin;
    margin-bottom: 20px !important;
    font-weight: 300;
}

ul.filter-list {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none !important;
}

ul.filter-list li {
    padding: 20px;
    text-align: center;
}

ul.product-list li {
    width: 10%;
    float: left;
    padding: 0 3px;
}

ul.filter-list li a.active span {
    color: #fd514e;
}

.product-box {
    border: 1px solid #f8f4ea;
    margin: 15px 0;
}

.product-images {
    text-align: center;
}

.product-details p {
    margin-bottom: 10px;
}

a.product-btn {
    padding: 2px 20px;
    border-radius: 20px;
    border: 1px solid #f4eedf;
}

.upper-block {
    margin-bottom: 20px;
}

.upper-block p {
    color: #a1dac3;
    font-size: 20px;
}

.upper-block p span {
    margin-left: 10px;
    display: inline-block;
}

.product-buttons {
    margin-bottom: 10px;
}

.hero-content-right {
    text-align: right;
}

.hero-content-right h2 {
    font-size: 60px;
}

.btn-custom {
    border: 2px solid #a1dac3;
    padding: 5px 20px;
    min-width: 200px;
    border-radius: 30px;
    color: #000;
    position: relative;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-custom:before {
    content: '\f078';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 15px;
    color: #5dc098;
    position: absolute;
    left: 15px;
    top: 6px;
    transform: rotate(90deg);
}


/*------*/

.cart-number {
    position: relative;
    padding: 10px 0;
    background: #758a3d;
	border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.cart-number span {
    cursor: pointer;
}

.cart-number .minus,
.cart-number .plus {
    width: 40px;
    height: 40px;
    line-height: 36px;
    background: #f2f2f2;
    border: 2px solid #fd504d;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 800;
    color: #fd504d;
}

.cart-number input {
    height: 38px;
    width: 50px;
    text-align: center;
    font-size: 23px;
    border: 1px solid #f4eedf;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}

.btn-bg {
    background: #f4eedf;
}


/* ================= Product List End ================ */


/* ================= Contact Start ================ */

.contact-inner {
    padding: 7%;
    background: #a1dac3;
    text-align: right;
}

.contact-heading {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.contact-heading h3 {
    margin-right: 15px !important;
}

.contact-form-left .form-control {
    min-height: 40px;
    text-align: right;
}

.product-detail-box h2 {
    border-bottom: 2px solid #f4eedf;
    text-align: center;
    padding-bottom: 15px !important;
}

.product-detail-box {
    padding: 19% 15%;
    border: 2px solid #f4eedf;
}

ul.product-strip li {
    font-size: 20px;
    padding: 15px 0;
    border-bottom: 2px solid #f4eedf;
    display: flex;
    justify-content: space-between;
}


/* ================= Contact End ================== */


/* ============PORTFOLIO PAGE START================= */

.portfolio-container p a:not(.btn),
.portfolio-container p a:not(.btn):focus {
    color: #ffa302;
}

.portfolio-container p a:not(.btn):hover {
    color: #222;
}

ul.project-category {
    margin-bottom: 40px;
}

ul.project-category li {
    display: inline-block;
    padding: 0;
    margin: 0;
    border-bottom: solid 3px rgba(0, 0, 0, 0.05);
}

ul.project-category li a {
    float: left;
    padding: 5px 20px;
    position: relative;
    color: #222;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
}

ul.project-category li a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 0px;
    margin-top: 3px;
    background: #ffa302;
    transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
}

ul.project-category li a:hover:before,
ul.project-category li a.active:before {
    height: 3px;
    margin-top: 0;
}


/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 32.66%;
}

.gutter-sizer {
    width: 1%;
}

.grid-item {
    float: left;
    margin-bottom: 1%;
}

.grid-item img {
    display: block;
    float: left;
    width: 100%;
}

.portfolio-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
}

.grid-item:hover .portfolio-hover {
    opacity: 1;
}

.portfolio-hover-content {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
}

.grid-item:hover .portfolio-hover-content {
    margin-top: 0px;
}

.portfolio-hover-content a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* background: #ffa302 url(../images/bg.png) repeat left top; */
    color: #222;
    margin: 2px;
    display: inline-block;
}

.portfolio-hover-content a:hover {
    background-color: #222;
    color: #fff;
}

.portfolio-hover-content .zoom {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, transform 0.3s 0s;
}

.grid-item:hover .portfolio-hover-content .zoom {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
    -moz-transition: opacity 0.3s 0.1s, -moz-transform 0.3s 0.1s;
    transition: opacity 0.3s 0.1s, transform 0.3s 0.1s;
}

.portfolio-hover-content .link {
    background-color: #222;
    color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, transform 0.3s 0s;
}

.grid-item:hover .portfolio-hover-content .link {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
    -moz-transition: opacity 0.3s 0.1s, -moz-transform 0.3s 0.1s;
    transition: opacity 0.3s 0.1s, transform 0.3s 0.1s;
}

.portfolio-hover-content .link:hover {
    /* background: #ffa302 url(../images/bg.png) repeat left top; */
    color: #222;
}

ul.clients-list {
    margin: 0 0 30px 0;
    font-size: 0;
    line-height: 0;
}

ul.clients-list>li {
    width: 25%;
    height: auto;
    display: inline-block;
}

ul.clients-list>li img {
    width: 100%;
    /* filter: url(filters.svg#grayscale); */
    filter: gray;
    -webkit-filter: grayscale(1);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

ul.clients-list>li img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    border-color: #e84545;
}

.testimonial-container {
    padding: 0 30px;
}

.testimonial-container .flexslider {
    position: relative;
    margin: 30px 0;
}

.testimonial-container .flexslider:before {
    content: '\f10d';
    font-family: 'fontAwesome';
    position: absolute;
    left: -15px;
    top: 0px;
    color: rgba(0, 0, 0, 0.1);
    font-size: 80px;
}

.testimonial-by {
    width: 100%;
    float: left;
    margin-top: 15px;
}

.testimonial-by h6 {
    margin-top: 0px;
}

.testimonial-by h6 span {
    display: block;
    font-size: 15px;
    color: #ffa302;
}

.testimonial-container .flex-direction-nav {
    display: none;
}


/* ============PORTFOLIO PAGE END================= */

.footer a {
    text-decoration: underline;
}

.footer p {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;
    color: #535350;
}

span.mg-set {
    margin-right: 10px;
}


/* ============================= 
! Screen size below 1201px
 ============================= */

@media only screen and (max-width: 1200px) {
    .navbar-brand {
        margin: 0 15px 10px 15px;
        /*max-height: 40px;*/
        width: 120px;
    }
    .header-right {
        position: absolute;
        top: 0;
        right: 70px;
    }
    .navbar-nav {
        background-color: #fff;
        color: #000;
    }
    .navbar-nav .nav-link,
    .navbar-expand-xl .navbar-nav .nav-link {
        line-height: 40px;
    }
    .navbar-collapse {
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
        max-height: calc(100% - 60px);
        overflow-y: auto;
    }
    .dropdown-menu {
        padding: 0;
    }
    .dropdown-menu a {
        padding-left: 30px;
    }
    .navbar-nav.sm-collapsible .sub-arrow {
        border: 0;
        margin: 0;
        line-height: 40px;
        height: 40px;
        top: 0;
    }
    .hero-content-box:before {
        right: 0;
    }
}


/* ============================= 
! Layout for ipad lanscape 
 ============================= */

@media only screen and (max-width: 1048px) {
    ul.product-list li {
        width: 50%;
    }
    .hero-content-left {
        width: 200px;
        position: relative;
    }
    .hero-content-box {
        position: relative;
        top: 0;
    }
    .pattern {
        width: 200px;
        margin: 0 auto;
    }
    .hero-content-right h2 {
        font-size: 50px;
    }
    .hero-slider-inner {
        height: 100vh;
    }
}


/*============================= 
! Layout for ipad portrait  
============================= */

@media only screen and (max-width: 991px) {}


/* =============================  
 ! Layout for mobile(lanscape) version  
 ============================= */

@media handheld,
only screen and (max-width: 767px) {
    .header-upper {
        position: relative;
    }
    ul.product-list li {
        width: 100%;
    }
    .hero-content-box:before {
        right: 0;
        top: -92px;
    }
    .content-container {
        margin-top: 25px;
    }
}


/* ============================= 
 ! Layout for mobile(portrait) version  
 ============================= */

@media only screen and (max-width: 479px) {}