.upload-video-modal .ant-modal-close-x {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.upload-video-modal .modal-body {
    display: flex;
    flex-direction: column;
}

.upload-video-modal .ant-modal-body {
    padding-bottom: 8px !important;
}

.video-basic-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.video-info-header{
    font-size: 18px;
    font-weight: 600;
}
.video-name-text{
    font-size: 17px;
    font-weight: 500;
    margin-left: 5px;
}

.recording-upload-status{
    margin-top: 10px;
}

.recording-success-message{
    color: #4F8A10;
    background-color: #DFF2BF;
}
.recording-failed-message{
    color: #D8000C;
    background-color: #FFD2D2;
}